.formContainer {
  height: 100vh;
  background: #cbbfbf47;

  .inputConatiner {
    margin: 2px;
    display: flex;
    flex-direction: column;
  }
  .errorMsg{
    color: red;
    font-size: 11px;

  }
  input{
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .submit{
    margin: 19px;

  }
}