.logo {
  width: 5%;
  margin: 0 5px;
}
.cartshopingIcon{
  font-size: 30px;
}
.badge{
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  bottom: 0;
}